# Fix for npm "Exit handler never called" bug on Vercel
legacy-peer-deps=true
strict-peer-dependencies=false
prefer-offline=true
fetch-retries=5
fetch-retry-factor=2
fetch-retry-mintimeout=10000
fetch-retry-maxtimeout=60000